@{
    ViewBag.Title = "Confirmation";
}

@* View after clicking the "Purchase" button *@
<div>
    <h1>Purchase Successful!</h1>
    <p>Thank you! Your item is on it's way!</p>
    <p style="font-size: 8px">***Note: Due to a dramatic increase in purchases over the last 2 hours, please give us 2,330 days to ship your book. Thank you!</p>
</div>
